PORT=3000
NODE_ENV=production
MONGO_URI=mongodb+srv://your-username:your-password@cluster.mongodb.net/?appName=Cluster0
JWT_SECRET=your-jwt-secret-key
RESEND_API_KEY=your-resend-api-key
EMAIL_FROM="onboarding@resend.dev"
EMAIL_FROM_NAME="Your Name"
CLIENT_URL=https://your-frontend-url.vercel.app
CLOUDINARY_CLOUD_NAME=your-cloudinary-cloud-name
CLOUDINARY_API_KEY=your-cloudinary-api-key
CLOUDINARY_API_SECRET=your-cloudinary-api-secret
ARCJET_KEY=your-arcjet-key
ARCJET_ENV=production
